{% extends 'master/layout.html' %}
{% block content %}
<div class="container-bg with-bg container-fluid" data-style="background-image: url(upload/young-mens.jpg);">
        <div class="container-bg-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-item-title">
                            <h1 class="text-center texttransform-none">Portfolio &#8211; Masonry 1 / Text below image /
                                Spaced</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumbs-container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                            <!-- Breadcrumb NavXT 5.7.1 -->
                            <span property="itemListElement" typeof="ListItem">
                                    <a property="item" typeof="WebPage" title="Go to Barrel." href="index.html"
                                       class="home"><span property="name">Barrel</span></a>
                                    <meta property="position" content="1"/>
                                </span>
                            &gt; <span property="itemListElement" typeof="ListItem"><span property="name">Portfolio &#8211; Masonry 1 / Text below image / Spaced</span><meta
                                property="position" content="2"/></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-container container">
        <div class="row">
            <div class="col-md-12 entry-content">
                <article>
                    <div class="vc_row wpb_row vc_row-fluid vc_row-o-equal-height vc_row-flex">
                        <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner vc_custom_1487239752272">
                                <div class="wpb_wrapper"></div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-8">
                            <div class="vc_column-inner vc_custom_1493806842836">
                                <div class="wpb_wrapper">
                                    <div
                                            class="mgt-header-block clearfix text-center text-black wpb_content_element mgt-header-block-style-2 mgt-header-block-fontsize-medium mgt-header-texttransform-none mgt-header-block-13648052 vc_custom_1493806870625"
                                    >
                                        <p class="mgt-header-block-subtitle">Choose your own</p>
                                        <h2 class="mgt-header-block-title text-font-weight-default">Portfolio</h2>
                                        <div class="mgt-header-line mgt-header-line-margin-small"></div>
                                    </div>

                                    <div class="wpb_text_column wpb_content_element">
                                        <div class="wpb_wrapper">
                                            <p style="text-align: center;">
                                                This is just an example of one of available Portfolio page settings
                                                combinations. In our theme you can choose between <strong>14 portfolio
                                                grid layout variations</strong>,
                                                <strong>fullwidth or boxed</strong> layouts, <strong>spaced or regular
                                                grid</strong>, <strong>portfolio item hover animations</strong>,
                                                <strong>18 category filter animations, and 3 column count
                                                    settings</strong>.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper"></div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1438333348452">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="mgt-portfolio-grid wpb_content_element">
                                        <div class="row portfolio-filter filter-center filter-dark filter-bordered filter-border-style-rounded">
                                            <div class="col-md-12">
                                                <a class="filter" data-filter="all">All</a><a class="filter"
                                                                                              data-filter=".agency">Agency</a><a
                                                    class="filter" data-filter=".app-design">App design</a>
                                                <a class="filter" data-filter=".services">Services</a><a class="filter"
                                                                                                         data-filter=".uiux">UI&amp;UX</a>
                                            </div>
                                        </div>

                                        <div class="portfolio-list portfolio-columns-4 portfolio-grid-layout-1 portfolio-with-spaces clearfix"
                                             id="portfolio-list-33868484">
                                            <div class="portfolio-item-block text-left portfolio-item-animation-9 mix agency app-design services uiux"
                                                 data-item="1" data-name="Designer&#8217;s Tool Kit">
                                                <div class="portfolio-item-block-inside">
                                                    <a href="designers-tool-kit.html" target="_self" rel="">
                                                        <div
                                                                class="portfolio-item-image"
                                                                data-style="background-image: url(upload/table-minimal-1024x1024.jpg);"
                                                        ></div>
                                                        <div class="portfolio-item-bg"></div>

                                                        <div class="info">
                                                            <div class="view-more btn mgt-button mgt-button-round-edges-disable">
                                                                View more
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="portfolio-info-below">
                                                    <span class="sub-title">Agency / App design / Services / UI&amp;UX</span>
                                                    <a href="designers-tool-kit.html" target="_self" rel=""><h4
                                                            class="title">Designer&#8217;s Tool Kit</h4></a>
                                                    <div class="project-description">Special mockup</div>
                                                </div>
                                            </div>
                                            <div class="portfolio-item-block text-left portfolio-item-animation-9 mix agency app-design services uiux"
                                                 data-item="2" data-name="Stamp">
                                                <div class="portfolio-item-block-inside">
                                                    <a href="stamp.html" target="_self" rel="">
                                                        <div
                                                                class="portfolio-item-image"
                                                                data-style="background-image: url(upload/kitchen-category-1024x1024.jpg);"
                                                        ></div>
                                                        <div class="portfolio-item-bg"></div>

                                                        <div class="info">
                                                            <div class="view-more btn mgt-button mgt-button-round-edges-disable">
                                                                View more
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="portfolio-info-below">
                                                    <span class="sub-title">Agency / App design / Services / UI&amp;UX</span>
                                                    <a href="stamp.html" target="_self" rel=""><h4 class="title">
                                                        Stamp</h4></a>
                                                </div>
                                            </div>
                                            <div class="portfolio-item-block text-left portfolio-item-animation-9 mix agency"
                                                 data-item="3" data-name="Ease UI Components">
                                                <div class="portfolio-item-block-inside">
                                                    <a href="ease-ui-components.html" target="_self" rel="">
                                                        <div class="portfolio-item-image"
                                                             data-style="background-image: url(upload/team-6.jpg);"></div>
                                                        <div class="portfolio-item-bg"></div>

                                                        <div class="info">
                                                            <div class="view-more btn mgt-button mgt-button-round-edges-disable">
                                                                View more
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="portfolio-info-below">
                                                    <span class="sub-title">Agency</span>
                                                    <a href="ease-ui-components.html" target="_self" rel=""><h4
                                                            class="title">Ease UI Components</h4></a>
                                                    <div class="project-description">Mock up components</div>
                                                </div>
                                            </div>
                                            <div class="portfolio-item-block text-left portfolio-item-animation-9 mix agency app-design services uiux"
                                                 data-item="1" data-name="Hero &#8211; Iphone Mockup">
                                                <div class="portfolio-item-block-inside">
                                                    <a href="hero-iphone-mockup.html" target="_self" rel="">
                                                        <div class="portfolio-item-image"
                                                             data-style="background-image: url(upload/lamp-2.jpg);"></div>
                                                        <div class="portfolio-item-bg"></div>

                                                        <div class="info">
                                                            <div class="view-more btn mgt-button mgt-button-round-edges-disable">
                                                                View more
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="portfolio-info-below">
                                                    <span class="sub-title">Agency / App design / Services / UI&amp;UX</span>
                                                    <a href="hero-iphone-mockup.html" target="_self" rel=""><h4
                                                            class="title">Hero &#8211; Iphone Mockup</h4></a>
                                                    <div class="project-description">Perfect for Iphone</div>
                                                </div>
                                            </div>
                                            <div class="portfolio-item-block text-left portfolio-item-animation-9 mix uiux"
                                                 data-item="2" data-name="Jumper Font">
                                                <div class="portfolio-item-block-inside">
                                                    <a href="jumper-font.html" target="_self" rel="">
                                                        <div class="portfolio-item-image"
                                                             data-style="background-image: url(upload/tea-1.jpg);"></div>
                                                        <div class="portfolio-item-bg"></div>

                                                        <div class="info">
                                                            <div class="view-more btn mgt-button mgt-button-round-edges-disable">
                                                                View more
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="portfolio-info-below">
                                                    <span class="sub-title">UI&amp;UX</span>
                                                    <a href="jumper-font.html" target="_self" rel=""><h4 class="title">
                                                        Jumper Font</h4></a>
                                                    <div class="project-description">Exclusive font</div>
                                                </div>
                                            </div>
                                            <div class="portfolio-item-block text-left portfolio-item-animation-9 mix app-design services uiux"
                                                 data-item="3" data-name="Bag MockUp">
                                                <div class="portfolio-item-block-inside">
                                                    <a href="bag-mockup.html" target="_self" rel="">
                                                        <div class="portfolio-item-image"
                                                             data-style="background-image: url(upload/BagMockup.jpg);"></div>
                                                        <div class="portfolio-item-bg"></div>

                                                        <div class="info">
                                                            <div class="view-more btn mgt-button mgt-button-round-edges-disable">
                                                                View more
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="portfolio-info-below">
                                                    <span class="sub-title">App design / Services / UI&amp;UX</span>
                                                    <a href="bag-mockup.html" target="_self" rel=""><h4 class="title">
                                                        Bag MockUp</h4></a>
                                                    <div class="project-description">Client: Themeforest</div>
                                                </div>
                                            </div>
                                            <div class="portfolio-item-block text-left portfolio-item-animation-9 mix app-design"
                                                 data-item="1" data-name="Colorfull app design">
                                                <div class="portfolio-item-block-inside">
                                                    <a href="colorfull-app-design.html" target="_self" rel="">
                                                        <div class="portfolio-item-image"
                                                             data-style="background-image: url(upload/kaleido-1.jpg);"></div>
                                                        <div class="portfolio-item-bg"></div>

                                                        <div class="info">
                                                            <div class="view-more btn mgt-button mgt-button-round-edges-disable">
                                                                View more
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="portfolio-info-below">
                                                    <span class="sub-title">App design</span>
                                                    <a href="colorfull-app-design.html" target="_self" rel=""><h4
                                                            class="title">Colorfull app design</h4></a>
                                                </div>
                                            </div>
                                            <div class="portfolio-item-block text-left portfolio-item-animation-9 mix agency app-design uiux"
                                                 data-item="2" data-name="Bag design">
                                                <div class="portfolio-item-block-inside">
                                                    <a href="bag-design.html" target="_self" rel="">
                                                        <div class="portfolio-item-image"
                                                             data-style="background-image: url(upload/team-man.jpg);"></div>
                                                        <div class="portfolio-item-bg"></div>

                                                        <div class="info">
                                                            <div class="view-more btn mgt-button mgt-button-round-edges-disable">
                                                                View more
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="portfolio-info-below">
                                                    <span class="sub-title">Agency / App design / UI&amp;UX</span>
                                                    <a href="bag-design.html" target="_self" rel=""><h4 class="title">
                                                        Bag design</h4></a>
                                                    <div class="project-description">Creative design</div>
                                                </div>
                                            </div>
                                            <div class="portfolio-item-block text-left portfolio-item-animation-9 mix agency app-design services uiux"
                                                 data-item="3" data-name="Mock up for devices">
                                                <div class="portfolio-item-block-inside">
                                                    <a href="mock-up-for-devices.html" target="_self" rel="">
                                                        <div
                                                                class="portfolio-item-image"
                                                                data-style="background-image: url(upload/home-category-1024x1024.jpg);"
                                                        ></div>
                                                        <div class="portfolio-item-bg"></div>

                                                        <div class="info">
                                                            <div class="view-more btn mgt-button mgt-button-round-edges-disable">
                                                                View more
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="portfolio-info-below">
                                                    <span class="sub-title">Agency / App design / Services / UI&amp;UX</span>
                                                    <a href="mock-up-for-devices.html" target="_self" rel=""><h4
                                                            class="title">Mock up for devices</h4></a>
                                                    <div class="project-description">Video</div>
                                                </div>
                                            </div>
                                            <div class="portfolio-item-block text-left portfolio-item-animation-9 mix uiux"
                                                 data-item="1" data-name="Delightful font">
                                                <div class="portfolio-item-block-inside">
                                                    <a href="delightful-font.html" target="_self" rel="">
                                                        <div
                                                                class="portfolio-item-image"
                                                                data-style="background-image: url(upload/Bottles-gallery-1024x800.jpg);"
                                                        ></div>
                                                        <div class="portfolio-item-bg"></div>

                                                        <div class="info">
                                                            <div class="view-more btn mgt-button mgt-button-round-edges-disable">
                                                                View more
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="portfolio-info-below">
                                                    <span class="sub-title">UI&amp;UX</span>
                                                    <a href="delightful-font.html" target="_self" rel=""><h4
                                                            class="title">Delightful font</h4></a>
                                                    <div class="project-description">Handmade font</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}